@import "./adaptive.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
.main__container {
  font-family: "Inter", sans-serif;
  background: linear-gradient(
    258.75deg,
    #000000 73.28%,
    rgba(27, 2, 69, 0.98) 100%
  );
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include breackpoint(md) {
    background: linear-gradient(
      187.65deg,
      #071459 -1.58%,
      #000000 7.89%,
      #000000 75.78%,
      #380749 106.36%
    );
    height: 100vh;
    
    @include breackpoint(sm){
      height: 111vh;
    }
  }
  @include breackpoint(se){
    height: 120xvh;
  }
  @include breackpoint(xs){
    height: 111vh;
  }
  .img__blur {
    margin-top: 50px;
    height: 90vh;
    width: 100%;
    background-image: url(../../../public/images/little.svg);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 85%;

    @include breackpoint(sm) {
      width: 100%;
      background-image: url(../../../public/images/little.svg);
      background-repeat: no-repeat;
      background-size: 500px;
      background-position: 80%;
      @include breackpoint(md) {
        background-position: top right;
      }
    }

    .first__hr {
      height: 2px;
      background-color: white;
      width: 43.3%;
      border-radius: 27px;
      margin-left: 10.05%;
      @include breackpoint(sm) {
        display: none;
      }
    }
    .second__hr {
      height: 2px;
      background-color: white;
      width: 77.3%;
      margin-left: 10.05%;
      border-radius: 27px;
      @include breackpoint(sm) {
        display: none;
      }
    }
  }
  .main__content {
    width: 80%;
    margin: 0 auto;
    height: 80vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: center;
    @include breackpoint(lg) {
      width: 100%;
    }
    @include breackpoint(md) {
      width: 100%;
      height: 90vh;
    }
    @include breackpoint(se){
      margin-top: -50px;
      height: 100vh;
    }
    .site__content {
      .container {
        width: 45%;
        margin-left: 50px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        @include breackpoint(lg) {
          width: 90%;
          margin: 0 auto;
        }
        @include breackpoint(sm){
          margin-top: -5vh;
        }
        .header {
          height: 15vh;
          display: flex;
          justify-content: space-between;
          align-items: center;
          @include breackpoint(md) {
            height: 5vh;
            margin-bottom: 5vh;
          }
          img {
            width: 100px;
          }
          h1 {
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 39px;
            color: #ffffff;
            @include breackpoint(md) {
              font-size: 16px;
            }
          }
        }
      }
      main {
        width: 58%;
        height: 60vh;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 50px;
        @include breackpoint(lg) {
          width: 90%;
          margin: 0 auto;
        }
        @include breackpoint(md) {
          height: 70vh;
        }
        .bonus__content {
          position: absolute;
          left: 34%;
          top: 70%;
          height: 10vh;
          @include breackpoint(lg) {
            left: 53%;
          }
          @include breackpoint(md) {
            top: 380px;
            left: 2%;
            img{
              width: 15%;
            }
          }
          @include breackpoint(sm){
            top: 370px;
          }
          @include breackpoint(se){
            top:370px;
          }
          p {
            position: relative;
            left: 28%;
            bottom: 40%;
            padding: 10px 25px;
            background: #ffb53d;
            border-radius: 9px;
            @include breackpoint(md) {
              padding: 5px 15px;
              left: 20%;
              bottom: 30%;
            }
          }
          p::before {
            content: "";
            position: absolute;
            left: -8px;
            transform: rotate(45deg);
            bottom: 15px;
            border: 9px solid transparent;
            border-bottom: 10px solid #ffb53d;
          }
        }
        h1 {
          font-style: normal;
          font-weight: 600;
          font-size: 62px;
          letter-spacing: 1px;
          color: #ffffff;
          @include breackpoint(md) {
            font-size: 30px;
            text-align: center;
            margin-top: 350px;
          }
        }
        h2 {
          font-style: normal;
          margin-top: 20px;
          margin-bottom: 20px;
          font-weight: 400;
          font-size: 30px;
          letter-spacing: 1px;
          color: #ffffff;
          @include breackpoint(md) {
            font-size: 16px;
            text-align: center;
          }
        }
        button {
          border: none;
          background: #00c1ff;
          box-shadow: 0px 4px 45px rgba(32, 171, 202, 0.3);
          border-radius: 10px;
          padding: 5px 30px;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 42px;

          cursor: pointer;
          color: #ffffff;
          @include breackpoint(md) {
            // margin-top: 20% !important;
            width: 85%;
            margin: 0 auto;
            text-align: center;
          }
        }
        .mask__group {
          margin-top: 20px;
          display: flex;
          align-items: center;
          color: white;
          height: 10px;
          @include breackpoint(md) {
            width: 100%;
            flex-direction: column;
            text-align: center;
          }
          > img {
            height: 50px;
            @include breackpoint(md) {
              margin-left: 5px;
            }
          }
          .infO__content {
            margin-left: 10px;
            span {
              font-style: normal;
              font-weight: 500;
              font-size: 13px;
            }
            span:nth-child(1) {
              font-size: 10px;
            }
            span:nth-child(2) {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}
