*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app{
  height: 100vh;
  padding: 93px 93px 50px 93px ;
  background-image: linear-gradient(
    65deg,
    hsl(257deg 62% 24%) 0%,
    hsl(268deg 42% 18%) 1%,
    hsl(273deg 62% 10%) 9%,
    hsl(339deg 0% 0%) 23%,
    hsl(339deg 0% 0%) 46%,
    hsl(0deg 0% 0%) 100%
  );
}